<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos</title>
    <link rel="stylesheet" href="../static/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
      <div th:replace="~{navBar.html}"></div>
    </header>
  <div style="position: relative; height: 100vh; background: url('https://get.wallhere.com/photo/white-flowers-love-red-photography-bench-rose-presents-pink-emotion-spring-bouquets-flower-plant-flora-wedding-photograph-petal-flowering-plant-macro-photography-floristry-ceremony-flower-bouquet-flower-arranging-floral-design-176149.jpg') no-repeat center center; background-size: cover;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 8px; text-align: center; max-width: 600px;">
         <h1>¡Bienvenidos a nuestra Floristería MVC!</h1>
         <p>
             En nuestra floristería, creemos que cada flor cuenta una historia, cada ramo transmite emociones, y cada cliente merece un detalle especial. 
             Ofrecemos una amplia variedad de flores frescas y arreglos personalizados para celebrar los momentos más importantes de tu vida. 
             Ya sea para un cumpleaños, aniversario, boda o simplemente para alegrar tu día, aquí encontrarás la combinación perfecta de colores, aromas y belleza. 
             Déjanos ser parte de tus momentos inolvidables y ayudar a crear recuerdos llenos de fragancia y elegancia.
             <br><br>
             Realizado por Maria Alejandra Botero & Santiago López Figueroa & Johan Alexis Holguín 
             <br><br>IU Digital de Antioquía 2024
         </p>
     </div>
  </div>  
</body>
</html>
